nav {
    height: 100%;
}

.side-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.side-nav-button:hover {
    background-color: gray;
    border-radius: 30%;
}
.wrapper-header-desktop-view{
    display: flex;
    justify-content: space-between;
    width: 90%;
    transition: left 250ms ease-in;
    margin-top: 11px;
    .desktop-view-button-view {
        display: flex;
        // display: none;
        button{
        font-weight: 800;
        color: white;
        font-size: 18px;
        border: none;
        background-color: #85D08B;
        border-radius: 35px;
        width: 188px;
        height: 42px;
    }
    }
    .search-bar-header-desktop{
        display: flex;
        align-items: center;
        gap: 15px;
        .icon-search{
            position: relative;
            top: 0;
            bottom: 0;
            img{
                position: absolute;
                top: 13px;
                bottom: 0;
                left: 12px;
                right: 0;
            }
            input{
                width: 371px;
                height: 40px;
                border-radius: 21px;
                outline: none;
                color: #D9D9D9;
                font-size: 18px;
                padding-left: 40px;
                &::placeholder{
                    font-size: 18px;
                    color: #D9D9D9;
                }
                &:focus{
                    border-color: none!important;
                    border: none !important;
                }
            }
        }
        .bell-icon-wrapper{background-color: #D9D9D9;width: 51px;height: 51px;display: flex;align-items: center;justify-content: center;border-radius: 50%;}
    }
    .form-control:focus{border-color: none!important;}
}
.navbar{background-color: #ffff;border-bottom: 3px solid #DFDFDF52;}
.icon-search-mobile{display: none;}
.icon-mobile-tablet-view{display: flex;gap: 15px;}
@media only screen and (min-width: 450px) {
    .side-nav-button {
        display: none;
    }
    .wrapper-header-closed-desktop-view{
        width: calc(100% - 290px);
    }
}
@media only screen and (max-width: 767px) {
    .desktop-view-button-view {
        display: none !important;
       
    }
    .search-bar-header-desktop{display: none;flex-direction: column;}
    .icon-search{display: none;}
    .icon-mobile-tablet-view{display: flex;}
    .wrapper-header-desktop-view{margin-top: 0;justify-content: end;}
    .icon-search-mobile{display: block;}
    .app-header{height: auto;}
    .icon-search-mobile{
        position: relative;
        top: 0;
        bottom: 0;
        img{
            position: absolute;
            top: 13px;
            bottom: 0;
            left: 22px;
            right: 0;
        }
        input{
            width: 100%;
            height: 40px;
            border-radius: 21px;
            outline: none;
            color: #D9D9D9;
            font-size: 18px;
            padding-left: 40px;
            &::placeholder{
                font-size: 18px;
                color: #D9D9D9;
            }
            &:focus{
                border-color: none!important;
                border: none !important;
            }
        }
    }
    .navbar{border: none;}
}