app-header {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 4rem;
    z-index: 2;
}
main {
    position: absolute;
    width: 100%;
    z-index: 1;
}
app-sidebar {
    position: absolute;
    left: 0rem;
    width: 60px;
    height: calc(100vh - 4rem);
    border: 2px solid #4A4E6D;
    box-shadow: 0px 0px 10px #4A4E6D;
    background-color: #4A4E6D !important;
    overflow-x: hidden;
    white-space: nowrap;
    transition: width 250ms ease-in;
}
.app-sidebar-open {
    width: 250px !important;
}
.display-area {
    position: absolute;
    left: 60px;
    width: calc(100% - 60px);
    transition: left 250ms ease-in ,width 250ms ease-in;
}
.display-area-shrink {
    width: calc(100% - 250px);
    left: 250px;
}

.display-area-shrink {
    @media only screen and (max-width: 450px) {
        width: calc(100% - 60px);
        left: 60px;
      }
    }

    @media only screen and (max-width: 450px) {
        app-sidebar {
            width: 0px;
            border: none;
            z-index: 1;
        }     
      }
    