app-header {
    position: fixed;
    width: 100%;
    top: 0px;
    // height: 4rem;
    z-index: 2;
    overflow-x: hidden;
}

main {
    position: absolute;
    width: 100%;
    z-index: 1;
}

app-sidebar {
    position: fixed;
    left: 0rem;
    width: 75px;
    height: 100%;
    border: 2px solid #4A4E6D;
    box-shadow: 0px 0px 10px #4A4E6D;
    background-color: #4A4E6D !important;
    overflow-x: hidden;
    white-space: nowrap;
    transition: width 250ms ease-in;
}

.app-sidebar-open {
    width: 290px !important;
}

.display-area {
    position: absolute;
    left: 75px;
    width: calc(100% - 75px);
    transition: left 250ms ease-in, width 250ms ease-in;
}

.display-area-shrink {
    width: calc(100% - 290px);
    left: 290px;
}


@media only screen and (max-width: 450px) {
    .side-nav-button{
        color:#4A4E6D !important;
    }
   
    .display-area-shrink {
        width: 100%;
        left: 0px;

    }

    .display-area {
        width: 100%;
        left: 0px;
    }

    app-sidebar {
        width: 0px;
        border: none;
        z-index: 4;
        transition: width 150ms ease-in;
        height: calc(100vh - 2rem);
        top: 1rem;
    }

    .display-overlay {
        visibility: visible !important;
        opacity: 1 !important;
    }

    .sidebar-toggler {
        display: none !important;
    }
    .mobile-app-header{height: auto;}
    .main-content-area{padding-top: 130px !important;}
    .mobile-app-header{background-color: #ffff;border-bottom: 3px solid #DFDFDF52;padding-bottom: 15px;}
}

.overlay {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    cursor: pointer;
}


.sidebar-toggler {
    width: 30px;
    height: 30px;
    background-color: aquamarine;
    position: fixed;
    top: 100px;
    left: 55px;
    transition: left 250ms ease-in;
    z-index: 5;
    background: #5D6284; 
    border-radius: 9999px; 
    border: 1px #5D6284 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 14px;
        width: 14px;
    }
}

.sidebar-toggler-open {
    left: 273px !important;
}
.main-content-area{padding-top: 85px;padding-left: 1rem;padding-right: 1rem;}
