<!-- App Component
<i class="fa-solid fa-bars"></i> -->

<div class="container-fluid g-0">
  <main>
    <div class="overlay" [ngClass]="{'display-overlay': sideNavStatus}" (click)="sideNavStatus=false"></div>
    <app-sidebar [sideNavStatus]="sideNavStatus" [ngClass]="{'app-sidebar-open': sideNavStatus}"></app-sidebar>

    <div class="sidebar-toggler" [ngClass]="{'sidebar-toggler-open': sideNavStatus}" (click)="sideNavStatus=!sideNavStatus">
      <img src="../assets/chevrons-left.svg" alt="">
    </div>

    <div class="display-area" [ngClass]="{'display-area-shrink': sideNavStatus}">

      <app-header [menuStatus]="sideNavStatus" (sideNavToggled)="sideNavStatus = $event;"></app-header>

      <div class="main-content-area p-3 m-5">
        <p class="fs-1 fw-bold fst-talic">Main Content Area Display</p>
        <p class="fs-1 fw-bold fst-talic">Main Content Area Display</p>
        <p class="fs-1 fw-bold fst-talic">Main Content Area Display</p>
        <p class="fs-1 fw-bold fst-talic">Main Content Area Display</p>
        <p class="fs-1 fw-bold fst-talic">Main Content Area Display</p>
        <p class="fs-1 fw-bold fst-talic">Main Content Area Display</p>
        <p class="fs-1 fw-bold fst-talic">Main Content Area Display</p>
        <p class="fs-1 fw-bold fst-talic">Main Content Area Display</p>
        <p class="fs-1 fw-bold fst-talic">Main Content Area Display</p>
        <p class="fs-1 fw-bold fst-talic">Main Content Area Display</p>
        <p class="fs-1 fw-bold fst-talic">Main Content Area Display</p>
      </div>
    </div>
  </main>
</div>