.border-white {
    border: 1px solid white;
}

.side-nav-content {
    color: white;
    width: 290px;
    // margin-left: 10px;
    // margin-right: 10px;
    // margin-top: 10px;
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
}

.nav-list {
    list-style: none;
    height: 100%;
    padding: 0%;
    margin-bottom: 0%;
}

.nav-list-item {
    display: flex;
    align-items: center;
    height: 68px;
    justify-content: center;
    gap: 16px;
}

 .nav-list-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
    // border-radius: 10px;
}

.nav-list-item i {
    font-size: 20px;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
}

.nav-list-item span {
    width: 170px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: white;
}
.long-logo{margin-top: 5px;margin-right: 16px;margin-left: 6px;
img{width: 100%;max-width: 280px;}
}
.short-logo{margin: 16px 14px 0 12px;}
.nav-list-close{
    .nav-list-item{
        justify-content: space-around !important;
    }
}
.new-questbuilder-mobile{
    display: flex;
    justify-content: center;
    margin: 27px 0 24px;
    button{
        font-weight: 800;
        color: white;
        font-size: 16px;
        border: none;
        background-color: #85D08B;
        border-radius: 35px;
        width: 172px;
        height: 58px;
       
    }
}
.new-questbuilder-mobile{display: none;}
@media screen and (max-width: 767px) {
 .side-nav-content{top: 180px;}
 .new-questbuilder-mobile{display: flex;}
  }